* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #053344;
  --secondary-color: #40bf56;
  --tertiary-color: #eafdee;
  --text-color: #333333;
  --bg-color: #f5f5f5;
  --principal-font: "Exo 2", sans-serif;
}

/* Estilos para mobile */

body {
  font-family: var(--principal-font);
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "menu"
    "filtros"
    "contenido"
    "pie-pag";
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
}

header {
  grid-area: menu;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 40px;
  background-color: var(--primary-color);
}

header img {
  width: 12%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 24px;
  color: var(--tertiary-color);
}

.fa-solid {
  font-size: 24px;
  color: var(--bg-color);
  cursor: pointer;
}

.fa-solid:hover {
  color: var(--secondary-color);
}

div {
  grid-area: filtros;
  background-color: var(--bg-color);
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h2 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
}

select {
  padding: 5px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  width: 80%;
}

select:hover {
  border-color: var(--secondary-color);
}

main {
  grid-area: contenido;
}

footer {
  grid-area: pie-pag;
}
