*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #40bf56;
    --secondary-color: #0c3c4f;
    --tertiary-color: #f7bd48;
    --text-color: #333333;
    --bg-color: #f5f5f5;
    --principal-font: "Exo 2", sans-serif;
}

/* Estilos para mobile */

body{
    font-family: var(--principal-font);
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
        "menu"
        "filtros"
        "contenido"
        "pie-pag";
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr auto;
}

header{
    grid-area: menu;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--bg-color);
}

header img{
    width: 12%;
}

.logo{
    display: flex; 
    align-items: center;
    gap: 10px;
}

h1{
    font-size: 24px;
    color: var(--primary-color);
}

.fa-solid{
    font-size: 24px;
    color: var(--secondary-color);
    cursor: pointer;
}

aside{
    grid-area: filtros;
}

main{
    grid-area: contenido;
}

footer{
    grid-area: pie-pag;
}