* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #053344;
  --secondary-color: #40bf56;
  --tertiary-color: #eafdee;
  --text-color: #333333;
  --bg-color: #f5f5f5;
  --principal-font: "Exo 2", sans-serif;
}

/* Estilos para mobile */

body {
  font-family: var(--principal-font);
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "menu"
    "filtros"
    "contenido"
    "pie-pag";
  grid-template-rows: auto auto auto auto;
}

header {
  grid-area: menu;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 40px;
  background-color: var(--primary-color);
}

header img {
  width: 12%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 24px;
  color: var(--tertiary-color);
}

.fa-bars {
  font-size: 24px;
  color: var(--bg-color);
  cursor: pointer;
}

.fa-solid:hover {
  color: var(--secondary-color);
}

section {
  grid-area: filtros;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px;
}

h2 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
}

select {
  padding: 5px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  width: 80%;
  font-family: var(--principal-font);
}

select:hover {
  border-color: var(--secondary-color);
}

main {
  grid-area: contenido;
  display: grid;
  grid-column: auto;
  grid-row: auto;
  padding: 40px;
  gap: 20px;
}

.card{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  height: auto;
  gap: 20px;
  border: 1px solid rgb(205, 205, 205);
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
}

.card:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.card button{
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: var(--principal-font);
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.card button:hover{
    background-color: var(--secondary-color);
}

#car-second{
    display: none;
}

.pagination{
    display: inline-flex;
width: fit-content;
margin: 0 auto;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
    
}

.pagination a{
    min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  outline: 1px solid #e5e7eb;
  transition: background-color 0.2s ease;

}

.pagination a:hover{
    background-color: var(--bg-color);
    font-weight: 700;
}

footer {
  grid-area: pie-pag;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--secondary-color);
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fa-brands{
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.fa-brands:hover{
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    
    body{
        grid-template-areas: 
        "menu filtros"
        "menu contenido"
        "pie-pag contenido";
        grid-template-columns: auto 1fr;
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #car-second{
        display: flex;
    }

}